@font-face {
    font-family: ralewayRegular;
    src: url(~@/static/Raleway-Regular.ttf)
}

// @font-face {
//     font-family: raleway-bold;
//     src: url(~@/static/Raleway-Bold.ttf)
// }
@font-face {
    font-family: sans;
    src: url(~@/OpenSans/OpenSans-Regular.ttf)
}

// @font-face {
//     font-family: open-sans-bold;
//     src: url(~@/OpenSans/OpenSans-Bold.ttf)
// }