.illustration {
    .left-img {
        max-width: rem(615px);
        width: 100%;
        max-height: rem(464px);
        height: 100%;
        margin-right: 40px;
    }
    .right-section {
        h1 {
            font-size: rem(40px);
            font-weight: bold;
        }
        p {
            font-size: rem(16px);
        }
        a {
            color: $clr5;
            text-decoration: underline;
            height: rem(27px);
            max-width: rem(166px);
            img {
                width: rem(12px);
                height: rem(12px);
                background-color: $clr5;
                margin-left: rem(16px);
                text-decoration: underline;
            }
        }
    }
}