* {
    box-sizing: border-box;
}

body {
    font-family: sans;
    font-size: rem(14px);
    font-weight: 400, 700;
    background-color: $clr2;
    color: $clr7;
    // line-height: 1.43;
    // color: #484848;
    // background-color: #fff;
    // margin: 0;
    // -webkit-font-smoothing: antialiased;
    // height: 100vh;
}

h1 {
    font-size: rem(40px);
    font-family: raleway;
    line-height: 60px;
    font-weight: bold;
}

p {
    font-family: sans;
}

.btn {
    background-color: $clr5;
    font-family: raleway;
    font-weight: bold;
}